@keyframes packetLineEntry {
    0% {
        transform: translateY(3rem) scale(1.5, 1.5);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scale(1, 1);
        opacity: 1;
    }
}


#packetsWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
}

#packetsTable {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 7rem - 5rem);
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    padding: 0.5rem;
    
}

#tableTopGradient{
    width: calc(100% - 1.5rem);
    height: 1rem;
    top: 2.5rem;
    left: 0;
    position: absolute;
    z-index: 5;
    background: rgba(102, 102, 102, 1);
    background: linear-gradient(0deg, rgba(102, 102, 102, 0) 0%, rgba(102, 102, 102, 1) 50%);
}

#tableBottomGradient{
    width: calc(100% - 1.5rem);
    height: 1rem;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 5;
    background: rgba(102, 102, 102, 1);
    background: linear-gradient(180deg, rgba(110270, 102, 102, 0) 0%, rgba(102, 102, 102, 1) 50%);
}

#packetTableHead{
    padding-left: 0.5rem;
    padding-right: 1rem;
    height: 2rem;
    border-bottom: 2px white solid;
    display: grid;
    grid-template-columns: 5% 7% 18% 18% 7% 4% 13%;
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: start;
    margin: 0.5rem;
}


.packetLine{
    padding-left: 0.5rem;
    height: 2rem;
    background-color: #888888;
    border-radius: 0.35rem;
    position: relative;
    display: grid;
    grid-template-columns: 5% 7% 18% 18% 7% 4% 13%;
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: start;
    margin-bottom: 0.5rem;
    opacity: 0;
    animation: packetLineEntry 150ms ease 1 forwards;
    transition: background-color 0.1s ease 0s;
    overflow: hidden;
}

.packetInfo{
    white-space: nowrap;
}

.packetLine:hover{
    background-color: #AAAAAA;
}

.packetLine.active, .packetLine.active:hover {
    background-color: #BBBBBB;
}

.packetLine.static{
    animation: none;
    opacity: 1;
}

.packetLine>.packetControls{
    display: none;
    width: 3%;
    max-height: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25rem;
    align-items: center;
    justify-content: center;
}

.packetLine:hover>.packetControls{
    display: grid;
}

.packetLine>.packetControls>span{
    width: 100%;
    cursor: pointer;
}

.packetLine>.packetControls>.deleteButton:hover{
    color: red;
}

.packetLine>.packetControls>.copyButton:hover{
    color: white;
}

.packetCell{
    width: 100%;
    height: 1.5rem;
    display: grid;
    align-items: start;
    justify-content: start;
    /* user-select: text; */    
}

.packetCell.tableHead{
    user-select: none;
    width: 100%;
    height: 1.5rem;
    display: grid;
    align-items: start;
    justify-content: start;
}

.packetCell > p{
    padding-top: 0.15rem;
    margin: 0;
    height: 1.5rem;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}


#packetsScrollBarWrapper {
    display: none;
    width: 1rem;
    height: calc(100vh - 4.5rem - 5rem);
    background-color: #AAAAAA;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0rem;
    position: relative;
}


#packetsScrollBar {
    margin-top: 0.2rem;
    width: 0.6rem;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0.2rem;

    background-color: #666;
    border-radius: 0.2rem;
}

#packetsScrollBar:hover {
    background-color: #888;
}