#mainGrid {
    display: grid;
    grid-template-columns: 1fr auto;
}

#detailsWrapper{
    
    padding: 0.5rem;
    height: calc(100vh - 3.5rem - 5rem);
    display: grid;
    grid-template-rows: 6fr 4fr;
    grid-gap: 0.6rem;
}



#headersWrapper{
    min-width: 35rem;
    height: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #888888;
}

#headerValues{
    color: white;
    font-size: 1.2rem;
}

#headersList{
    line-height: 1.25rem;
}

#headersList > li {
    
}

#hexWrapper{
    overflow-x: visible;
    overflow-y: scroll;
    border-radius: 0.5rem;
    background-color: #888888;
    min-width: 30rem;
    height: 100%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}

#hexNumColumn {
    display: none;
    padding: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: #AAAAAA;
    grid-template-columns: 1fr;
    align-content: start;
    grid-gap: 0.5rem;
}

#hexNumColumn > span {
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}



#hexValues {
    padding: 0.5rem;
    padding-left: 0rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-content: start;
    grid-gap: 0.5rem;
}

#hexValues > span{
    user-select: text;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}